{% extends 'base.html'%} {% block content %}

<div id="container">
 <span id ='imageSpan'> 
   <img id="image" src="{{ url_for('video') }}" alt="" ><div id='imagelive'></div></img>
  
</span>
  <div id="pred">
    <div id="predictions">
      <div>
        <p>Angry</p>
        <p></p>
        <div>
          <span></span>
        </div>
      </div>
      <div>
        <p>Confident</p>
        <p></p>
        <div>
          <span></span>
        </div>
      </div>
      <div>
        <p>Confused</p>
        <p></p>
        <div>
          <span></span>
        </div>
      </div>
      <div>
        <p>Contempt</p>
        <p></p>
        <div>
          <span></span>
        </div>
      </div>
      <div>
        <p>Crying</p>
        <p></p>
        <div><span></span></div>
      </div>
      <div>
        <p>Disgust</p>
        <p></p>
        <div><span></span></div>
      </div>
      <div>
        <p>Fear</p>
        <p></p>
        <div><span></span></div>
      </div>
      <div>
        <p>Happy</p>
        <p></p>
        <div><span></span></div>
      </div>
      <div>
        <p>Neutral</p>
        <p></p>
        <div><span></span></div>
      </div>
      <div>
        <p>Sad</p>
        <p></p>
        <div><span></span></div>
      </div>
      <div>
        <p>Shy</p>
        <p></p>
        <div><span></span></div>
      </div>
      <div>
        <p>Sleepy</p>
        <p></p>
        <div><span></span></div>
      </div>
      <div>
        <p>Surprised</p>
        <p></p>
        <div><span></span></div>
      </div>
    </div>
  </div>
</div>
<script src="{{url_for('static',filename='js/index.js')}}"></script>
{% endblock %}
